{#
/**
 * @file
 * Template implementation for the pate_templates_template theme hook.
 *
 * Available variables:
 * - title: The node (template) title.
 * - create_from_template_label: The label to use when building a CTA link.
 * - create_from_template_url: The URL the CTA should point to.
 * - preview_label: The label to use when building a Preview link.
 * - preview_url: The URL to use in the Preview link.
 */
#}
<div class="pate-templates-template">
  <h2 class="pate-title">{{ title }}</h2>
  <a class="use-ajax button" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:1200}" href="{{ preview_url }}">{{ preview_label }}</a>
  <a class="button button--primary" href="{{ create_from_template_url }}">{{ create_from_template_label }}</a>
</div>
